*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
  html,
  body {
    height: 100%;
    width: 100%;
  }
  #main{
      position: relative;
      overflow: hidden;
      background-color: #1137ca;
  }
  #page1
  {
      height: 100vh;
      width: 100vw;
      position: relative;
  }
  #page1>video{
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  #page1>nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 50px;
      position: absolute;
      height: 10vh;
      width: 100vw;
  }
  #page1>nav>img{
      margin-top: 1vw;
      width: 6%;
  }
  #right-nav{
    display: flex;
    gap: 30px;
  }
  #right-nav>button{
      padding: 10px 20px;
      border-radius: 50px;
      background-color: #0b48ed;
      border: 1px solid #fff;
      color: #fff;
      font-size: 15px;
  }
  .bottom-page1{
      position: absolute;
      bottom: 15%;
      height: 35vh;
      width: 50vw;
      left: 7%;
  }
  .bottom-page1>h1{
      font-size: 6.2vw;
      font-weight: 100;
      line-height: 1;
      color: #fff;
  }
  .bottom-page1-inner{
      position: absolute;
      bottom: 0%;
      height: 35%;
      width: 100%;
  }
  .bottom-page1-inner{
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
      gap:50px;
  }
  .bottom-page1-inner>button{
      padding: 10px 20px;
      border: none;
      border-radius: 50px;
      background-color: #fff;
      color: #0b48ed;
      font-size: 17px;
      margin-top: 80px;
  }
  .bottom-page1-inner>h4{
      font-size: 1.2vw;
      font-weight: 100;
      color: #fff;
      line-height: 30px;
      margin-top: 80px;
  }
  #page2{
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      position: relative;
      padding: 0vw 8vw;
      color: #fff;
      background-color: #0a3cce;
  }
  #page2>h2{
      margin-bottom: 3vw;
      font-weight: 100;
  }
  #page2>h1{
      font-weight: 100;
      line-height: 1.3;
      width: 92%;
      font-size: 4vw;
      color: #dadadab0;
  }
#page3{
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-color: peru; */
}
#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page4{
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 8vw;
    color: #fff;
    background-color: #1137CA;
    display: flex;
    gap: 60px;
}
#page4>h2{
    font-size: 15px;
    font-weight: 400;
}
#page4>h1{
    font-weight: 400;
    font-size: 52px;
    color: #dadada77;
}
#page5{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#page5>canvas{
    width: 100%;
    height: 100%;
    position: relative;
}
#page6{
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 8vw;
    color: #fff;
    background-color: #0a3cce ;
    /* background-color: red; */
    display: flex;
    gap: 60px;
}
#page6>h3{
    font-size: 15px;
    font-weight: 400;
    /* background-color: red; */

}
#page6>h1{
    font-weight: 400;
    font-size: 52px;
    color: #dadada77;
    /* background-color: red; */
}
#page7{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #0a3cce;
}
#page7>canvas{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.page7-circle{
    position: absolute;
    z-index: 999;
    height: 60vh;
    width: 30vw;
    border-radius: 50%;
    /* background-color: salmon; */
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border: 1px solid rgba(255, 255, 255, 0.507);
}
.page7-circle-inner{
    transform: translate(21%,25%);
    top: 50%;
    left: 50%;
    width: 70%;
    height: 65%;
    background-color: #1651f154;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.507);

}

#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page8-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: a;
}
.page8-bottom>h1{
    color: #fff;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-weight: 100;
}
.page8-bottom>button{
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #0a3cce;
}


#page9{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.left9{
    height: 100%;
    width: 40%;
    position: relative;
}
.left9>h1{
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: #fff;
    line-height: 1;
}
.right9{
    height: 100%;
    width: 60%;
    position: relative;
}
.right9-center{
    height: 50%;
    width: 85%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 5%;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.right10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}
.right10-inner{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    color: #ffffffe5;
}
.right10-inner>h1{
    font-size: 2vw;
}
.right10-inner>p{
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
}
#page8{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #0a3cce;
}
#page8>video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#page14{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #000;
}



#page13{
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    padding: 7vw 10vw;
}
#page13>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}
#page13>button{
    padding: 18px 30px;
    border: none;
    background-color: #0a3cce;
    color: #fff;
    border-radius: 50px;
    margin-top: 2vw;
}



.page14-inner{
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: .5px solid #ffffff5c;
    border-bottom: .5px solid #ffffff48;
}
.page14-inner>i{
    font-weight: 100;
    font-size: 2.4vw;
    position: relative;
    z-index: 9999;
    /* background-color: red; */
}
.page14-inner>h1{
    font-size: 3vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
    /* background-color: red; */
}

.center14{
    height: 0%;
    width: 100%;
    background-color: #0a3cce;
    /* background-color: red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .45s;
}
.page14-inner:hover .center14{
    height: 100%;
}